$top-nav-height: 30px;
$banner-height: 85px;
$footer-height: 65px;
$footer-border-height: 1px;
$common-padding: 20px;

$main-font-size: 12px;
$main-line-height: 2em;

$wrapper-padding: 0 $common-padding; 

$nav-bar-height: 40px;
$nav-bar-padding: 0 $common-padding;

$common-border-width: 1px;

$common-text-margin: 10px;

$common-radius: 4px;
$small-radius: 2px;

$dashe-line-opacity: 0.3;

$paging-goto-block-width: 220px;