$banner-bg-color: #ffffff;
$top-nav-color: #f2f2f2;
$nav-bar-color: #aeaeb6;
$nav-bar-active-color: #ffffff;
$dialog-btnbg-color: #efefef;
$dialog-line-color: #dbdbdb;
$dialog-close-color: #c1c1c1;
$shadow-color: #dcdbdc;
$condition-block-line: #666666;
$search-btn-color: #999999;