$important-text-color: #f72f3e;   //main-style-text-color
$condition-btn-color: #6c6c6c;
$condition-btn-border-color: #b3b3b3;
$float-tip-color: #ffffff;
$float-tip-bdcolor: #e1e0e0;
$float-tip-bdccolor: #c6c6c6;
$icon-cbtn-color: #494c6c;
$cart-item-discheckbg: #ececec;

// common color start
$important-color: #fd4452;     // main color
$theme-color: #353751; // BreadcrumbNavigation-background-color
$text-color: #333333; // base-text-color
$bg-color: #fafafa;   // base-background-color
$hover-color: #ff5865; //base-text-hover-color
$active-color: #f72f3e; //base-text-active-color
$disabled-color: #bababa;
$img-wrapper-bg-color: #ffffff;
// common border color
$dash-line-color: #c2c2c2;
$solid-line-color: #e0e0e0;
$dotted-line-color: #bababa;
$footer-border-color: #666666;

$parts-item-activebg: #fcedef;
$parts-item-hoverbg: #efeaeb;
$gray-text: #b3b3b3;
$warn-color: #ffbb04;
$cart-item-disabledbg: #f4f4f4;
// common color end