<%- include common/header.ejs %>

    <section class="box-login">
      <div class="login-header">web前端项目优化管理系统</div>
      <div class="login-content">
        <div class="line-input">
          <input type="text" id="username" placeholder="请输入用户名"/>
          <label class="icon"><i class="icon-user"></i></label>
        </div>
        <div class="line-input">
          <input type="password" id="password" placeholder="请输入密码"/>
          <label class="icon"><i class="icon-lock"></i></label>
        </div>
        <div class="line-error" id="line-error">

        </div>
        <div class="line-btn">
          <span class="btn btn-login" id="btn-login">登录</span>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      var requiredModuleList = ['login'];
    </script>

<%- include config/requirejsConfig.ejs %>
<%- include common/footer.ejs %>