<%- include common/header.ejs %>
<%- include common/nav.ejs %>

    <section class="wrapper-main-content">
      <div class="block-main-content width-1100">
        <div class="box-manage-list">
          <h3>用户管理:</h3>
          <div class="set-project-name">
            <input type="text" placeholder="请输入用户昵称" />
            <span class="btn">查询</span>
            <span class="btn">显示全部</span>
            <span class="btn btn-add">新增用户</span>
          </div>
          <div class="manage-list">
            <table class="table-show-list table-show-list-2 table-show-list-3">
              <thead>
              <tr>
                <td>用户名</td>
                <td>昵称</td>
                <td>角色</td>
                <td>创建时间</td>
                <td>创建人</td>
                <td>操作</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>SGMW_EPC</td>
                <td>王大锤</td>
                <td>管理员</td>
                <td>2015-11-23T11:10:20</td>
                <td>创建人</td>
                <td>
                  <span class="btn btn-optimize">配置权限</span>
                  <span class="btn btn-optimize">删除用户</span>
                  <span class="btn btn-optimize">重置密码</span>
                </td>
              </tr>
              <tr>
                <td>SGMW_EPC</td>
                <td>王大锤</td>
                <td>普通用户</td>
                <td>2015-11-23T11:10:20</td>
                <td>创建人</td>
                <td>
                  <span class="btn btn-optimize">配置权限</span>
                  <span class="btn btn-optimize">删除用户</span>
                  <span class="btn btn-optimize">重置密码</span>
                </td>
              </tr>
              <tr>
                <td>SGMW_EPC</td>
                <td>王大锤</td>
                <td>普通用户</td>
                <td>2015-11-23T11:10:20</td>
                <td>创建人</td>
                <td>
                  <span class="btn btn-optimize">配置权限</span>
                  <span class="btn btn-optimize">删除用户</span>
                  <span class="btn btn-optimize">重置密码</span>
                </td>
              </tr>
              <tr>
                <td>SGMW_EPC</td>
                <td>王大锤</td>
                <td>普通用户</td>
                <td>2015-11-23T11:10:20</td>
                <td>创建人</td>
                <td>
                  <span class="btn btn-optimize">配置权限</span>
                  <span class="btn btn-optimize">删除用户</span>
                  <span class="btn btn-optimize">重置密码</span>
                </td>
              </tr>
              <tr>
                <td>SGMW_EPC</td>
                <td>王大锤</td>
                <td>管理员</td>
                <td>2015-11-23T11:10:20</td>
                <td>创建人</td>
                <td>
                  <span class="btn btn-optimize">配置权限</span>
                  <span class="btn btn-optimize">删除用户</span>
                  <span class="btn btn-optimize">重置密码</span>
                </td>
              </tr>
              <tr>
                <td>SGMW_EPC</td>
                <td>王大锤</td>
                <td>管理员</td>
                <td>2015-11-23T11:10:20</td>
                <td>创建人</td>
                <td>
                  <span class="btn btn-optimize">配置权限</span>
                  <span class="btn btn-optimize">删除用户</span>
                  <span class="btn btn-optimize">重置密码</span>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      var requiredModuleList = ['manageUser'];
    </script>

<%- include config/requirejsConfig.ejs %>
<%- include common/footer.ejs %>