<%- include common/header.ejs %>
<%- include common/nav.ejs %>

    <section class="wrapper-main-content">
      <div class="block-main-content width-1100">
        <div class="box-left-list">
          <h3>项目优化:</h3>
          <div class="box-search">
            <input type="text" placeholder="请输入项目名称" />
            <span class="btn btn-search">查询</span>
            <span class="btn btn-show-all">显示全部</span>
          </div>
          <div class="box-list">
            <table class="table-show-list">
              <thead>
              <tr>
                <td>项目名</td>
                <td>上次优化时间</td>
                <td>操作人</td>
                <td>操作</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>SGMW_EPC</td>
                <td>2015-11-23T11:10:20</td>
                <td>操作人</td>
                <td><span class="btn btn-optimize">优化</span></td>
              </tr>
              <tr>
                <td>SGMW_EPC</td>
                <td>2015-11-23T11:10:20</td>
                <td>操作人</td>
                <td><span class="btn btn-optimize">优化</span></td>
              </tr>
              <tr>
                <td>SGMW_EPC</td>
                <td>2015-11-23T11:10:20</td>
                <td>操作人</td>
                <td><span class="btn btn-optimize">优化</span></td>
              </tr>
              <tr>
                <td>SGMW_EPC</td>
                <td>2015-11-23T11:10:20</td>
                <td>操作人</td>
                <td><span class="btn btn-optimize">优化</span></td>
              </tr>
              <tr>
                <td>SGMW_EPC</td>
                <td>2015-11-23T11:10:20</td>
                <td>操作人</td>
                <td><span class="btn btn-optimize">优化</span></td>
              </tr>
              <tr>
                <td>SGMW_EPC</td>
                <td>2015-11-23T11:10:20</td>
                <td>操作人</td>
                <td><span class="btn btn-optimize">优化</span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="block-right-stage">
          <pre></pre>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      var requiredModuleList = ['optimize'];
    </script>

<%- include config/requirejsConfig.ejs %>
<%- include common/footer.ejs %>