/target/
/node_modules/
/src/main/webapp/release/
rebel.xml
*-min.js
*-min.css
me.properties
/bin/
upload/
.settings/
.project
.classpath
.idea
*.iml
.gradle
/local.properties
/build
*.css.map
.sass-cache/

.DS_Store
.vscode/
/**/node_modules/
/**/epc-ng/dist/
*.log