    <section class="wrapper-top-line">
      <header class="block-top-line width-1100">
        <a class="logo" href="/optimize"></a>
        <h1>web前端项目优化管理系统</h1>
        <a class="btn logout" href="/logout">退出</a>
        <span class="welcome">欢迎你，<label><%= curUser.nickname %></label></span>
        <nav>
          <ul>
            <% if (curPage === 'optimize') { %>
              <li><a href="/optimize" class="active">项目优化</a></li>
            <% } else { %>
              <li><a href="/optimize">项目优化</a></li>
            <% } %>
            <% if (curPage === 'manage_project') { %>
              <li><a href="/project/manage"  class="active">项目管理</a></li>
            <% } else { %>
              <li><a href="/project/manage">项目管理</a></li>
            <% } %>
            <% if (curPage === 'manage_user') { %>
              <% if (curUser.role) { %>
                <li><a href="/user/manage"  class="active">用户管理</a></li>
              <% } %>
            <% } else { %>
              <% if (curUser.role) { %>
                <li><a href="/user/manage">用户管理</a></li>
              <% } %>
            <% } %>
            <% if (curPage === 'edit_user') { %>
              <li><a href="/user/edit"  class="active">修改密码</a></li>
            <% } else { %>
              <li><a href="/user/edit">修改密码</a></li>
            <% } %>
            <% if (curPage === 'help') { %>
            <li><a href="/html/help.html" target="_blank" class="active">帮助</a></li>
            <% } else { %>
            <li><a href="/html/help.html" target="_blank">帮助</a></li>
            <% } %>
          </ul>
        </nav>
      </header>
    </section>