    <section class="wrapper-top-line">
      <header class="block-top-line width-1100">
        <a class="logo" href="/optimize"></a>
        <h1>web前端项目优化管理系统</h1>
        <a class="btn logout" href="/logout">退出</a>
        <span class="welcome">欢迎你，<label><%= curUser.nickname %></label></span>
        <nav>
          <ul>
            <li><a href="/optimize">项目优化</a></li>
            <li><a href="/project/manage">项目管理</a></li>
            <% if (curUser.role) { %>
            <li><a href="/user/manage">用户管理</a></li>
            <% } %>
            <li><a href="/user/edit">修改密码</a></li>
          </ul>
        </nav>
      </header>
    </section>