$common-input-width: 360px;
$common-input-height: 30px;
$common-input-padding: 0 10px;
$common-icon-input-width: 240px;
$common-input-radius: $common-radius;
$common-input-bg-color: #ffffff;
$common-input-box-shadow: 2px -2px 2px 0 #f7f7f7 inset, 2px 2px 2px 0 #f7f7f7 inset ;
$small-input-width: 54px;
$small-input-height: 24px;
$input-tip-color: #cccccc;