$search-condition-width: 380px;
$search-condition-box: 70px;
$search-result-item-padding: $common-padding 0;
$search-result-item-pt: $common-padding;
$search-result-item-pb: $common-padding;
$search-result-item-img-width: 140px;
$search-result-item-img-height: 140px;
$search-result-item-legend-padding: 25px;
$search-result-item-part-pl: $common-padding + $search-result-item-img-width;