 <!--template 1-->
<div data-template-id="1" class="icon-main"> 
    <div class="icon-left">
        <a data-action="zoomin" class="icon-bg zoomIn-icon"></a>
        <a data-action="zoomout" class="icon-bg zoomOut-icon"></a>
    </div>
    <div class="icon-right">
        <a data-action="up" class="icon-bg up-icon"></a>
        <a data-action="right" class="icon-bg right-icon"></a>
        <a data-action="down" class="icon-bg down-icon"></a>
        <a data-action="left" class="icon-bg left-icon"></a>
        <a data-action="reset" class="icon-bg reset-icon"></a>
    </div>
</div>

<!--template 2-->
<div data-template-id="2" class="assistive-tool">
    <div class="assistive-toolContent">
            <a data-action="reset" class="assistive-toolBg assistive-tool-normal"></a>
            <a data-action="zoomout" class="assistive-toolBg assistive-tool-small"></a>
            <a data-action="zoomin" class="assistive-toolBg assistive-tool-big"></a>
            <a data-action="print" class="assistive-toolBg assistive-tool-print"></a>
    </div>
</div>

<!--template 3-->
<div data-template-id="3" class="assistive-tool">
    <div class="assistive-toolcontent">
            <a data-action="reset" class="assistive-toolbg reset"></a>
            <a data-action="zoomout" class="assistive-toolbg zoomout"></a>
            <a data-action="zoomin" class="assistive-toolbg zoomin"></a>
            <a data-action="print" class="assistive-toolbg print"></a>
            <a data-action="view" class="assistive-toolbg view"></a>
    </div>
</div>

<!--template 4-->
<div data-template-id="4" class="assistive-tool">
    <div class="assistive-toolContent">
            <a data-action="reset" class="assistive-toolBg assistive-tool-normal"></a>
            <a data-action="zoomout" class="assistive-toolBg assistive-tool-small"></a>
            <a data-action="zoomin" class="assistive-toolBg assistive-tool-big"></a>
    </div>
</div>