<%- include common/header.ejs %>
<%- include common/nav.ejs %>

    <section class="wrapper-main-content">
      <div class="block-main-content width-1100">
        <div class="box-help">
          <h3>帮助:</h3>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      var requiredModuleList = [''];
    </script>

<%- include config/requirejsConfig.ejs %>
<%- include common/footer.ejs %>